[submodule "engine/third_party/imgui"]
	path = engine/third_party/imgui
	url = https://github.com/Reuben-Sun/imgui.git
	tag = v1.89.7
[submodule "engine/third_party/tbb"]
	path = engine/third_party/tbb
	url = https://github.com/Reuben-Sun/oneTBB.git
[submodule "engine/third_party/optick"]
	path = engine/third_party/optick
	url = https://github.com/Reuben-Sun/optick.git
[submodule "engine/third_party/glm"]
	path = engine/third_party/glm
	url = https://github.com/Reuben-Sun/glm.git
[submodule "engine/third_party/tinygltf"]
	path = engine/third_party/tinygltf
	url = https://github.com/Reuben-Sun/tinygltf.git
[submodule "engine/third_party/lua"]
	path = engine/third_party/lua
	url = https://github.com/lua/lua.git
[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/Reuben-Sun/glfw.git
[submodule "engine/third_party/entt"]
	path = engine/third_party/entt
	url = https://github.com/Reuben-Sun/entt.git
[submodule "engine/third_party/spdlog"]
	path = engine/third_party/spdlog
	url = https://github.com/Reuben-Sun/spdlog.git
