[submodule "engine/third_party/imgui"]
	path = engine/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	tag = v1.89.7
[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
	tag = 3.3-stable
[submodule "engine/third_party/tbb"]
	path = engine/third_party/tbb
	url = https://github.com/oneapi-src/oneTBB.git
