[submodule "engine/third_party/imgui"]
	path = engine/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	tag = v1.89.7
[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
	tag = 3.3-stable
[submodule "engine/third_party/tbb"]
	path = engine/third_party/tbb
	url = https://github.com/Reuben-Sun/oneTBB.git
[submodule "engine/third_party/optick"]
	path = engine/third_party/optick
	url = https://github.com/Reuben-Sun/optick.git
[submodule "engine/third_party/glm"]
	path = engine/third_party/glm
	url = https://github.com/Reuben-Sun/glm.git
